<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/logic.css' %}">
  <script>
  $( function() {
    var availableTags = [
	  {% for system in allSystems %}
	  "{{ system.name }}",
	  {% endfor %}
	  ""
    ];
    $( "#systems" ).autocomplete({
      source: availableTags
    });
  } );
  
  </script>
  <script>
  function clear_all(){
	  {% for prior in allPriority %}
	  
	  document.getElementById("prior{{prior.name}}").checked = false;
	  {% for time in allTime %}
	  document.getElementById("{{prior.name}}time{{time.description}}").checked = false;
	  {% endfor %}

	  {% endfor %}
	  
	  
  }
  function button_click_go() {
	clear_all();
    name = document.getElementById("systems").value;
    var arr = [
        {% for item in fulltable %}
			{ "fio": '{{ item.user.name }}', "system": '{{ item.system.name }}' , "priority": '{{ item.priotiry.name }}' , "time": '{{ item.time.description }}' }{% if not forloop.last %},{% endif %}
		{% endfor %}
		];
    console.log(arr);
    
    for (var i = 0; i<arr.length ;i++){
	    if (arr[i].system == name){
		    prior = arr[i].priority;
		    id = "prior"+prior;
		    document.getElementById(id).checked = "true";
		    
		    time = arr[i].time;
		    id = prior+"time"+time;
		    document.getElementById(id).checked = "true";
	    };
    };
	};
	
	function save() {
		var a = {};
		name = document.getElementById("systems").value;
		console.log(["qwe","sad"]);
		{% for prior in allPriority %}
		prior{{priority_id}} = document.getElementById("prior{{prior.name}}").checked;

			var arr = [];
			{% for time in allTime %}
			if (document.getElementById("{{prior.name}}time{{time.description}}").checked){
				arr.push("{{time.description}}")
			}
			else
			{
				xmlhttp = new XMLHttpRequest();
				xmlhttp.open("GET", 'http://'+location.host+'/del_row/{{user.fio}}/'+name+'/{{prior.name}}/{{time.description}}/' , false);
				xmlhttp.send(null);
			}
			{% endfor %}
			a["{{prior.name}}"]=arr;
			console.log(arr);
			

		{% endfor %}

		console.log(location.host)
		for (i in a)
			{
				for (j in a[i])
				{
				console.log(i)
				console.log(a[i][j])
				xmlhttp = new XMLHttpRequest();
				xmlhttp.open("GET", 'http://'+location.host+'/add_row/{{user.fio}}/'+name+'/'+i+'/'+a[i][j]+'/' , false);
				xmlhttp.send(null);
				}
  			};
		
		location.reload(true)
		
		};
		{% for prior in allPriority %}
		function priority_box_changed_{{prior.name}}(){
			if (document.getElementById("prior{{prior.name}}").checked){
			}
			else{
				{% for time in allTime %}
					document.getElementById("{{prior.name}}time{{time.description}}").checked = false

	  			{% endfor %}
			}
		};
		{% endfor %}
		function go_back(){
			xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET", 'http://'+location.host+'/' , false);
			xmlhttp.send(null);
			    
			location.href = location.host
		}
		
		{%for prior in allPriority%}
		{% for time in allTime %}
		function time_box_changed_{{prior.name}}{{time.description}}()
		{
			if (document.getElementById("{{prior.name}}time{{time.description}}").checked){
								{% for lasttime in allTime %}
					{%if lasttime != time %}
						document.getElementById("{{prior.name}}time{{lasttime.description}}").checked = false
					{%endif%}
	  			{% endfor %}
	  			document.getElementById("prior{{prior.name}}").checked = true
			}
			else{
				{% for lasttime in allTime %}
					{%if lasttime != time %}
						document.getElementById("{{prior.name}}time{{lasttime.description}}").checked = true
					{%endif%}
	  			{% endfor %}
			}
		}
		{% endfor %}
		{%endfor%}
</script>
</head>
<body>
 
<div class="ui-widget">
	<h1>
		<a>ФИО: {{user.fio}}</a>
	</h1> 
	<div class="information">
		<p>Тел: {{user.phone}}</p> 
		<p>Еmeil: {{user.email}}</p> 
		Должность: {{user.position}}
	</div>
	
	<h2>
		<a>Системы</a>
	</h2>
	
	<div class="usersystems">
		<h4>
			Системы на которые подписан {{user.fio}}:
			{% for system in userSystems %}
				{{ system.name }}
			{% endfor %}
		</h4>
		<p>
		</p>
		<div class="table_systems">
			<table class="table">
				{%if fulltable%}
					<thead>
						<tr>
							<th>Система</th>
							<th>Приоритет</th>
							<th>Время</th>
	  					</tr>
  					</thead>
  				{%endif%}
	  
  				{%for row in fulltable%}
  					<tr>
  						<td>
  							{{row.system.name}} 
		  				</td>
		  				<td>
		  					{{row.priotiry.name}} 
						</td>
						<td>
							{{row.time.description}}
						</td>
					<tr>
				{%endfor%}
			<table>
		</div>
		
		
		<h2>
			<a>
				Редактирование систем пользователя
			</a>
		</h2>
		
		<div class="inputsystem">
			<label for="systems">
				Название системы: 
			</label>
			<input id="systems">
			<button onclick="button_click_go()"  class="btn btn-primary">
				Показать конфигурацию
			</button>
		</div>

		<h3>
			Конфигурации приоритетов
		</h3>
		
		<table width="100%" class="form-check">
			<tr>
				{% for prior in allPriority %}
					<td>
						<h4>
				  			Приоритет:
				  		</h4>
						<p>
							<input type="checkbox" id="prior{{prior.name}}" onchange="priority_box_changed_{{prior.name}}()">
							<label for="prior{{prior.name}}}">{{ prior.name }}</label>
			  			</p>
			  			 <h4>
				  			Доступность:
				  		</h4>
				  		{% for time in allTime %}
				  			<p>
				  				<input type="checkbox" id="{{prior.name}}time{{time.description}}" onchange="time_box_changed_{{prior.name}}{{time.description}}()">
				  				<label class:"labelTime" for="{{prior.name}}time{{time.description}}">{{ time.description }}</label>
  							</p>
  						{% endfor %}
		  			</td>
		  		{% endfor %}
	  		</tr>
  		</table>	 
  
  		<form>
			<input type="button" value="Сохранить" onClick="save()"class="btn btn-primary">
			<input type="button" value="Назад" class="btn btn-primary" onClick="location.href='http://'+location.host+'/'">
		</form>
			
		<form>
			
		</form>
	</div>
</div>
 
 
</body>
</html>