<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/logic.css' %}">
  <script>
  $( function() {
    var availableTags = [
	  {% for system in allSystems %}
	  "{{ system.name }}",
	  {% endfor %}
	  ""
    ];
    $( "#systems" ).autocomplete({
      source: availableTags
    });
  } );
  
  </script>
  <script>
  function clear_all(){
	  {% for prior in allPriority %}
	  
	  document.getElementById("prior{{prior.name}}").checked = false;
	  {% for time in allTime %}
	  document.getElementById("{{prior.name}}time{{time.description}}").checked = false;
	  {% endfor %}

	  {% endfor %}
	  
	  
  }
  function button_click_go() {
	clear_all();
    name = document.getElementById("systems").value;
    var arr = [
        {% for item in fulltable %}
			{ "fio": '{{ item.user.name }}', "system": '{{ item.system.name }}' , "priority": '{{ item.priotiry.name }}' , "time": '{{ item.time.description }}' }{% if not forloop.last %},{% endif %}
		{% endfor %}
		];
    console.log(arr);
    
    for (var i = 0; i<arr.length ;i++){
	    if (arr[i].system == name){
		    prior = arr[i].priority;
		    id = "prior"+prior;
		    document.getElementById(id).checked = "true";
		    
		    time = arr[i].time;
		    id = prior+"time"+time;
		    document.getElementById(id).checked = "true";
	    };
    };
	};
	
	function new_button_click_go() {
	clear_all();
	
	name = document.getElementById("systems").value;
	
	$.ajax({
        url: '/ajax/update_user/get_full_table/',
        data: {'user' : "{{user.fio}}"},
        dataType: 'json',
        success: function (data) {
          console.log(data)
          
		for (dict in data){
			console.log(data[dict])
			if (data[dict].system == name){
				prior = data[dict].priority;
				id = "prior"+prior;
				document.getElementById(id).checked = "true";
		    
				time = data[dict].time;
				id = prior+"time"+time;
				document.getElementById(id).checked = "true";
	    	};
    	};

        }
      });

	
    
    var arr = [
        {% for item in fulltable %}
			{ "fio": '{{ item.user.name }}', "system": '{{ item.system.name }}' , "priority": '{{ item.priotiry.name }}' , "time": '{{ item.time.description }}' }{% if not forloop.last %},{% endif %}
		{% endfor %}
		];
    //console.log(arr);
    
   	};

	
	function save() {
		var a = {};
		name = document.getElementById("systems").value;
		console.log(["qwe","sad"]);
		{% for prior in allPriority %}
			prior{{priority_id}} = document.getElementById("prior{{prior.name}}").checked;

			var arr = [];
			{% for time in allTime %}
				if (document.getElementById("{{prior.name}}time{{time.description}}").checked)
				{
					arr.push("{{time.description}}")
				}
				else
				{
					xmlhttp = new XMLHttpRequest();
					xmlhttp.open("GET", 'http://'+location.host+'/del_row/{{user.fio}}/'+name+'/{{prior.name}}/{{time.description}}/' , false);
					xmlhttp.send(null);
				}
			{% endfor %}
			a["{{prior.name}}"]=arr;
			console.log(arr);
			

		{% endfor %}

		console.log(location.host)
		for (i in a)
			{
				for (j in a[i])
				{
				console.log(i)
				console.log(a[i][j])
				xmlhttp = new XMLHttpRequest();
				xmlhttp.open("GET", 'http://'+location.host+'/add_row/{{user.fio}}/'+name+'/'+i+'/'+a[i][j]+'/' , false);
				xmlhttp.send(null);
				}
  			};
		
		location.reload(true)
		
		};
		{% for prior in allPriority %}
		function priority_box_changed_{{prior.name}}(){
			if (document.getElementById("prior{{prior.name}}").checked){
			}
			else{
				{% for time in allTime %}
					document.getElementById("{{prior.name}}time{{time.description}}").checked = false

	  			{% endfor %}
			}
		};
		{% endfor %}
		
		
		
		function go_back(){
			xmlhttp = new XMLHttpRequest();
			xmlhttp.open("GET", 'http://'+location.host+'/' , false);
			xmlhttp.send(null);
			    
			location.href = location.host
		}
		
		{%for prior in allPriority%}
		{% for time in allTime %}
		function time_box_changed_{{prior.priority_id}}{{time.time_id}}()
		{
			if (document.getElementById("{{prior.name}}time{{time.description}}").checked){
								{% for lasttime in allTime %}
					{%if lasttime != time %}
						document.getElementById("{{prior.name}}time{{lasttime.description}}").checked = false
					{%endif%}
	  			{% endfor %}
	  			document.getElementById("prior{{prior.name}}").checked = true
			}
			else{
				{% for lasttime in allTime %}
					{%if lasttime != time %}
						document.getElementById("{{prior.name}}time{{lasttime.description}}").checked = true
					{%endif%}
	  			{% endfor %}
			}
		}
		{% endfor %}
		{%endfor%}
</script>
<script>
	$( function() {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
          .addClass( "custom-combobox" )
          .insertAfter( this.element );
 
        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },
 
      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
          value = selected.val() ? selected.text() : "";
 
        this.input = $( "<input>" )
          .appendTo( this.wrapper )
          .val( value )
          .attr( "title", "" )
          .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
          .autocomplete({
            delay: 0,
            minLength: 0,
            source: $.proxy( this, "_source" )
          })
          .tooltip({
            classes: {
              "ui-tooltip": "ui-state-highlight"
            }
          });
 
        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
            if(this.bindings[0].id == "names")
            {
	            choose_new_fio();
            }
            if(this.bindings[0].id == "systems")
            {
	            new_button_click_go()
            }

          },
 
          autocompletechange: "_removeIfInvalid"
        });
      },
 
      _createShowAllButton: function() {
        var input = this.input,
          wasOpen = false;
 
        $( "<a>" )
          .attr( "tabIndex", -1 )
          .attr( "title", "Show All Items" )
          .tooltip()
          .appendTo( this.wrapper )
          .button({
            icons: {
              primary: "ui-icon-triangle-1-s"
            },
            text: false
          })
          .removeClass( "ui-corner-all" )
          .addClass( "custom-combobox-toggle ui-corner-right" )
          .on( "mousedown", function() {
            wasOpen = input.autocomplete( "widget" ).is( ":visible" );
          })
          .on( "click", function() {
            input.trigger( "focus" );
            // Close if already visible
            if ( wasOpen ) {
              return;
            }
 
            // Pass empty string as value to search for, displaying all results
            input.autocomplete( "search", "" );
          });
      },
 
      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },
 
      _removeIfInvalid: function( event, ui ) {
 
        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }
 
        // Search for a match (case-insensitive)
        var value = this.input.val(),
          valueLowerCase = value.toLowerCase(),
          valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });
 
        // Found a match, nothing to do
        if ( valid ) {
          return;
        }
 
        // Remove invalid value
        this.input
          .val( "" )
          .attr( "title", value + " didn't match any item" )
          .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },
 
      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });
 
    $( "#systems" ).combobox();
    $( "#names" ).combobox();
    $( "#toggle" ).on( "click", function() {
      $( "#combobox" ).toggle();
    });
  } );
  
  $(function(){
   $("#names").change(function () {
        var end = this.value;
        alert(end)
    });
      $(".fio").change(function(){
	 name = document.getElementById("names").value;
	location.href = '../../setup_user/'+name+'/';
  })
  });

  
  function choose_new_fio(){
	name = document.getElementById("names").value;
	location.href = '../../setup_user/'+name+'/';
  }
  
  $("#names").change(function () {
      console.log( $(this).val() );
    });
    
    function new_save() {
	        
	        
	        
		var dictOfUsedPrior = {};
		var dictOfUnusedPrior = {};
		name = document.getElementById("systems").value;
		console.log(["qwe","sad"]);
		
		{% for prior in allPriority %}
			prior{{priority_id}} = document.getElementById("prior{{prior.name}}").checked;

			var arrayOfCheckedTime = [];
			var arrayOfUNCheckedTime = [];
			
			{% for time in allTime %}
				if (document.getElementById("{{prior.name}}time{{time.description}}").checked)
				{
					arrayOfCheckedTime.push("{{time.description}}")
				}
				else
				{
					//xmlhttp.open("GET", 'http://'+location.host+'/del_row/{{user.fio}}/'+name+'/{{prior.name}}/{{time.description}}/' , false);
					arrayOfUNCheckedTime.push("{{time.description}}")
				}
			{% endfor %}
			
			dictOfUsedPrior["{{prior.name}}"]=arrayOfCheckedTime;
			dictOfUnusedPrior["{{prior.name}}"]=arrayOfUNCheckedTime;
			
			
			

		{% endfor %}
		
		var data123 = {"add" : dictOfUsedPrior, "del":dictOfUnusedPrior};
		
		
		$.ajax({
        url: '/ajax/update_user/add/{{user.fio}}/'+name+'/',
        data: dictOfUsedPrior,
        dataType: 'json',
        success: function (data) {
          console.log(data)
$.ajax({
        url: '/ajax/update_user/del/{{user.fio}}/'+name+'/',
        data: dictOfUnusedPrior,
        dataType: 'json',
        success: function (data) {
          console.log(data)
          addTable()
        }
      });
        }
      });
      

	}
	
	
	function addTable() {
    var myTableDiv = document.getElementById("myTable");
    
    
		var oldtable = document.getElementById("mymaketable")
		if (oldtable)
		{
				    oldtable.innerHTML = "";

		}



    var table = document.createElement('TABLE');
    //table.border = '1';
	table.setAttribute('class', 'table');
	table.setAttribute('id', 'mymaketable');
	var tableBody = document.createElement('THEAD');
	
    table.appendChild(tableBody);

	
        var tr = document.createElement('TR');
        tableBody.appendChild(tr);
        tr.setAttribute('style', 'font-weight: bold;')
		
		a = ["Cистема","Приоритет","Время"]
		
        for (var j = 0; j < 3; j++) {
            var td = document.createElement('TD');
            td.appendChild(document.createTextNode(a[j]));
            tr.appendChild(td);
        }


		$.ajax({
        url: '/ajax/update_user/get_full_table/',
        data: {'user' : "{{user.fio}}"},
        dataType: 'json',
        success: function (data) {
          console.log(data)
          
          var tableBody = document.createElement('TBODY');
		  table.appendChild(tableBody);
		for (dict in data){
			var tr = document.createElement('TR');
			tableBody.appendChild(tr);
			a = [data[dict].system,data[dict].priority,data[dict].time]
			for (var j = 0; j < 3; j++) {
            	var td = document.createElement('TD');
				td.appendChild(document.createTextNode(a[j]));
				tr.appendChild(td);
        }
		myTableDiv.appendChild(table);
    	};

        }
      });

	
    
}
function load_page(){
	addTable()
	//document.getElementById("newtable").classList.add('table');
}
</script>
</head>
<body onload="load_page()">
 
<div class="ui-widget">
	<h1>
		<a>

		Пользователь:
		</a>
	</h1> 
	<p>
				
		<select id="names" class="fio">
			<option  value="{{user.fio}}">{{user.fio}}</option>
			{% for us in users %}
				{%if us.fio != user.fio%}
				<option onclick="choose_new_fio()"  value="{{us.fio}}">{{us.fio}}</option>
				{%endif%}
				{% endfor %}
		</select>
			</p>
			<p>
			<button onclick="choose_new_fio()" class="btn btn-primary" >Выбрать</button>
		</p>
	<div class="information">
		<p>ФИО: {{user.fio}}</p>
		<p>Тел: {{user.phone}}</p> 
		<p>Еmeil: {{user.email}}</p> 
		Должность: {{user.position}}
	</div>
	
	<h2>
		<a>Системы</a>
	</h2>
	<p>
	</p>

		<table id="myTable" width="50%"></table>

	<p>
	</p>		
		
		<h2>
			<a>
				Редактирование систем пользователя
			</a>
		</h2>
		
		<div class="inputsystem">
			<p>
			<label>Название системы: </label>
			<select id="systems">
				<option value="">Select one...</option>
					{% for system in allSystems %}
						<option  value="{{system.name}}">{{system.name}}</option>
					{% endfor %}
			</select>
			</p>
			<p>
				<button onclick="new_button_click_go()"  class="btn btn-primary">
					Показать конфигурацию
				</button>
			</p>
		</div>

		<h3>
			Конфигурации приоритетов
		</h3>
		
		<table width="100%" class="form-check">
			<tr>
				{% for prior in allPriority %}
					<td>
						<h4>
				  			Приоритет:
				  		</h4>
						<p>
							<input type="checkbox" id="prior{{prior.name}}" onchange="priority_box_changed_{{prior.name}}()">
							<label for="prior{{prior.name}}}">{{ prior.name }}</label>
			  			</p>
			  			 <h4>
				  			Доступность:
				  		</h4>
				  		{% for time in allTime %}
				  			<p>
				  				<input type="checkbox" id="{{prior.name}}time{{time.description}}" onchange="time_box_changed_{{prior.priority_id}}{{time.time_id}}()">
				  				<label class:"labelTime" for="{{prior.name}}time{{time.description}}">{{ time.description }}</label>
  							</p>
  						{% endfor %}
		  			</td>
		  		{% endfor %}
	  		</tr>
  		</table>	 
  
  		<form>
			<input type="button" value="Сохранить" onClick="new_save()"class="btn btn-primary">
			<input type="button" value="Назад" class="btn btn-primary" onClick="location.href='http://'+location.host+'/'">
		</form>
			
		<form>
			
		</form>
	</div>
</div>
 
 
</body>
</html>