h1 a {
    color: #FCA205;
}
h2 a {
    color: #FCA205;
}
h3{
    color: blue;
    font-size: x-large;
}
h4{
	color: #210092
}
body {
    padding-left: 15px;
}

.table_systems{
	width: 50%;
}
.information{
	font-size: larger;
	font-family: helvetica;
}

.labelTime{
	font: normal 20px courier !important;
	color: red;
}

.spisok{
	height: 50px;
}
.form-control{
	width: 300px;
}

  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }